a {
    text-decoration: none;
    color: inherit;
}



/*footer*/
html, body{
	height:100%;
}
#body{min-height:100%}
#content{padding-bottom:1.9em}
footer{margin-top:-1.9em;height:240px}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}


.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}

 .social-network a.icoFacebook:hover i, .social-network a.icoGoogle:hover i  {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}


/*section*/
section {
    margin-top:30px;
}

.section2 {
    margin-top:30px;
    
}

#inform_content {
    padding: 50px;
    background-color: rgb(224,224,224);
}


/*section3*/

body{padding-top:0px;}
#carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 60px;
    display:inline-block;
    
    
}

/* The controlsy 
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
 The indicators 
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
 The colour of the indicators 
 
.carousel-indicators li {
	background: rgba(111, 54, 54, 0.5) !important;
}
.carousel-indicators .active {
background: #428bca;

}*/

.carousel .carousel-item {
	opacity: 1 !important;
	/*margin-left: 11% !important; */
	color: #000000;
	font-size: 25px;
	width: 150px !important;
  text-align: center !important;
}

.carousel .carousel-item img {
  height: inherit !important;
  width: auto !important;
  
}

.btn{
	padding:0 0.8rem !important;
	border-radius: 10px !important;
	width: 80%;
	box-shadow: none !important;
	margin-bottom: 4px;
	color: rgba(0,0,0,0.5) !important;
}

.carousel_nav{
	display: flex;
	justify-content: space-between;
}

.carousel{
	display: inline-block !important;
	
}

.carou_arrow{
	width:3%;	
}

.circle_number_name{
	display: flex;
	justify-content: center;
}

#header_nav{
	float:right;
	margin-right:3%;
}

.menu_btn{
	margin-right:20px;
}

#login_nav{
	display: flex;
	flex-direction: row-reverse;
	margin-right:3%;
}

#login_nav a{
	margin-left:2%;
}

.carousel .indicators .indicator-item {
  background-color: #f06292;
 
}

.carousel .indicators .indicator-item.active {
  background-color: #f8bbd0;
}

.modal {  
	     overflow-x: hidden ;
	     
	
}  

/* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */
#login_nav{
	font-size:140%;
}

.saturate {-webkit-filter: saturate(3); filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%); filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px); filter: blur(3px);}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%); filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%); filter: opacity(50%);}

.pagination_index{
  border-radius:10px;
  padding:20px 10px;
  color: #707070;
}

.article_container{
  background:#f7f7f9;
  padding:20px; 
  padding-top:30px;
}

.align_center{
  text-align:center;
}

.made_by{
  list-style:none;
}

.made_by_list{
  display:inline-block;
  margin:0 10px;
  color:white;
}

.contributor_img{
  border-radius: 50%;
  width:50px;
  height:50px;
  background:white;
}
