
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="page-footer #f06292 pink lighten-2">
    
          <div class="container">
            <div class="row">
              
              <div class="center-align">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="small fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="small fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="small fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="small fa fa-linkedin"></i></a></li>
                    </ul>				
			       	</div>
              
            </div>
          </div>
          <div class="footer-copyright center-align">
            
            <div class="container">
            <p5>Cpoyright © CherryElection 2016</p5>
            </div>
            
          </div>
</footer>
            

<!--
animations(function() {
            $('.').sakura('stop');
        }, 5000);
        -->
    		