<nav id="header-nav">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">
        <%= image_tag ("sakura_logo_text.png"), :id => "sakura_logo_text"%>
      </a>
      <!--<a href="/" class="brand-logo center">벚꽃대선</a>-->
    </div>
</nav>
 
<!-- 정보 버튼 넣기 -->
 <div class="fixed-action-btn">
       <a class="btn-floating btn-large waves-effect waves-light pink" href="#modal1"><i class="material-icons">info_outline</i></a>
       </div>
 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>벚꽃대선이란?</h4>
      <p>제 19대 대선 후보 15명의 관련 정보와 기사를 모아 놓은 사이트입니다. <br>
      일부 정보나 의견만으로 후보를 선택하지 않고 <strong>여러 객관적인 정보</strong>와 <strong>자신만의 합리적인 판단</strong> 하에 제 19대 대통령을 결정하셨으면 좋겠습니다. </p>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">돌아가기</a>
    </div>
  </div>


<!--header 부분에만 사쿠라 흩날리기/인포정보 팝업버튼 -->
<script>
    $(document).ready(function() {
        $('.nav-wrapper').sakura();
        $('#modal1').modal();
        
    });
</script>